translator/
HU-009 NO ASISTIDO/bot/__pycache__/
HU-009 NO ASISTIDO/auth/__pycache__/
HU-009 NO ASISTIDO/connections/__pycache__/
HU-009 NO ASISTIDO/scripts/__pycache__/
HU-009 NO ASISTIDO/tests/__pycache__/
HU-009 ASISTIDO/bot/__pycache__/
HU-009 ASISTIDO/auth/__pycache__/
HU-009 ASISTIDO/connections/__pycache__/
HU-009 ASISTIDO/scripts/__pycache__/
HU-009 ASISTIDO/tests/__pycache__/
.vscode/
.pytest_cache/
.idea/
