anyio==3.6.1
autopep8==1.7.0
beautifulsoup4==4.11.1
certifi==2022.6.15
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
colorama==0.4.5
cryptography==37.0.4
deep-translator==1.8.3
getmac==0.8.3
googletrans-py==4.0.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hstspreload==2022.8.1
httpcore==0.15.0
httpx==0.23.0
hyperframe==6.0.1
idna==3.3
msal==1.18.0
Office365-REST-Python-Client==2.3.13
pycodestyle==2.9.1
pycparser==2.21
PyJWT==2.4.0
pytz==2022.2.1
requests==2.28.1
rfc3986==1.5.0
sniffio==1.2.0
soupsieve==2.3.2.post1
toml==0.10.2
urllib3==1.26.12
